{% extends 'base.html.twig' %}

{% block body %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Genus</th>

        </tr>
        </thead>
        <tbody>
        {% for genus in genuses %}
            <tr>
                <td>
                    <a href="{{ path('genus_show' , {'paramsName': genus.name}) }}" >
                        {{ genus.name }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}